<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/642cc3dc-483a-462c-b29e-72708fca4236/resourceGroups/DefaultResourceGroup-CQ/providers/Microsoft.ApiManagement/service/TestFragapi/apis/TestFrag</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/642cc3dc-483a-462c-b29e-72708fca4236/resourceGroups/GruRInterv/providers/Microsoft.Web/sites/backFYS</ResourceId>
    <ResourceGroup>GruRInterv</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://backfys.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>430b9f72-d063-4778-80c5-9e3b48f09c2f</ProjectGuid>
    <PublishUrl>https://backfys.scm.azurewebsites.net/</PublishUrl>
    <UserName>$backFYS</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>